<div class="glossaries">
  <h2>My Glossaries</h2>

  <div class="controls">
    <%= link_to "Add New Glossary", new_glossary_path %>
  </div>
  <table class="glossary_list">
    <% @glossaries.each do |glossary| %>
      <tr>
        <td><%= link_to glossary.name, glossary_path(glossary) %><%= " (Private Glossary)" if glossary.private? %></td>
        <td><%= glossary.description %></td>
      </tr>
    <% end %>
  </table>
</div>