<h2>My Glossaries</h2>

<%= link_to "Add New Glossary", new_glossary_path, class: 'button' %>

<dl>
  <% @glossaries.each do |glossary| %>
    <dt><%= glossary.name %></dt>
    <dd><%= link_to glossary.description, glossary_path(glossary) %></dd>
  <% end %>
</dl>