<h2>Tibetan Dictionary</h2>

<div class="controls"><%= link_to "Add New Term", new_tib_term_path %></div>
<h3>Terminology</h3>

<ul class="terms">
  <% @terms.each do |term| %>
    <li><%= link_to term.wyl, tib_term_path(term.id) %> - <%= term.tib %></li>
  <% end %>
</ul>

<%= will_paginate @terms %>
