<div class="about_me">
  <h3>About Me</h3>
  <ul class="user_info">
    <li>Gmail: cory.leistikow</li>
    <li>Twitter: <a href="https://twitter.com/bluevajra" target="_blank">@bluevajra</a></li>
    <li><a href="http://www.bluevajra.com" target="_blank">www.bluevajra.com</a></li>
    <li><a href="https://github.com/BlueVajra/tibetan_dictionary" target="_blank">BlueVajra on GitHub</a></li>
  </ul>

  <h4>More to Come</h4>
    <ul class="future">
      <li>Nested Comments</li>
      <li>Import / Export</li>
      <li>Book Glossaries</li>
      <li>UI Improvements</li>
    </ul>
</div>

<div class="about_project">
  <h3>About This Project</h3>

  <p>This project was inspired by conversations with my wife as we lived in India pursuing the studies of the Tibetan
    Language.
    I had spent three years in grad school at Naropa University and Nitartha Institute taking copious notes studying
    with various teachers like Phil Stanley, Sarah Harding, Jules Levinson, Scott Welenbach, and countless others.
    There were pearls of wisdom haded down in these classes and talks and I had diligently copied them down in
    notebooks, many of which have now been destroyed by mold, or misplaced.</p>

  <p>I was lamenting that there was not a way to efficiently share these ideas or store them for all other students of
    the Tibetan language both in the present and future. This is my attempt to create something to fill that void, to
    create something that can benefit all teachers, translators and students of the Tibetan language.</p>

  <p>If you feel that this could be more beneficial to the community, please share your ideas so we can create something
    truly beneficial and lasting</p>

  <h4>Pull-Requests Welcome!</h4>

  <p>This project is open-source, so bug-fixes, styling improvements, or any other fixes are welcome! Come on over to
    GitHub and join the development!</p>

  <p><a href="https://github.com/BlueVajra/tibetan_dictionary" target="_blank">BlueVajra on GitHub</a></p>
</div>