<h3>Welcome!</h3>
<h4>The home of a Crowd-sourced Tibetan Language Dictionary</h4>
<ul>
  <li>keep notes on terminology</li>
  <li>create small project glossaries</li>
  <li>connect with other Translators</li>
  <li>collaborate on translations</li>
  <li>and more....</li>
</ul>

Collaborate!

Share glossaries, discuss terminology,
