<section class="welcome">
  <div class="wrapper">
    <div class="content_container">
      <h3>བཀྲ་ཤིས་བདེ་ལེགས།</h3>
    </div>
  </div>
</section>


<section class="notes">
  <div class="content_container">
    <div class="media_image">
      བོད་སྐད།
    </div>
    <div class="media_info">
      <h4>A Crowd-sourced Tibetan Language Dictionary</h4>
      <ul>
        <li>keep notes on terminology</li>
        <li>create small project glossaries</li>
        <li>connect with other Translators</li>
        <li>collaborate on translations</li>
        <li>and more....</li>
      </ul>
    </div>
  </div>
</section>

<section class="information">
  <div class="wrapper">
    <div class="content_container">
      <h4>Collaborate!</h4>

      <p>Share glossaries, discuss terminology, keep notes!</p>
    </div>
  </div>
</section>

<section class="short_info">
  <div class="content_container">
    <section>
      <h3>སློབ་ཕྲུག</h3>
      <h4>Students</h4>

      <p>Perfect for students to keep notes about terminology from class. Comment on you classmates' translations, or
        keep a shared glossary.</p>
    </section>
    <section>
      <h3>ལོཙཱབ།</h3>

      <h4>Translators</h4>

      <p>Create public and private glossaries for notes and translation projects.
        Share those precious lessons from your teachers with your colleagues.</p>
    </section>
    <section>
      <h3>དགེ་རྒན།</h3>

      <h4>Academics and Teachers</h4>

      <p>Comment on dictionary entries and discuss finer points of terminology. Share vocabulary lists with your
        students.</p>
    </section>
  </div>
</section>
