<div class="comment" data-definition-id="<%= comment.id %>">
  <h4><%= comment.email %></h4>
  <div class="comment_body">
    <h5><%= comment.title %></h5>
    <p><%= comment.body %></p>
  </div>
</div>