<% for(var i = 0; i < definitions.length; i++) { %>

<!--<tr class="glossary_term" data-definition-id="<%= definition.id %>">-->
  <!--<td class="wyl"><%= link_to definition.tib_term.wyl, tib_term_path(definition.tib_term) %></td>-->
  <!--<td class="entry"><%= definition.entry %></td>-->
  <!--<td class="button"><%= link_to "edit", tib_term_definition_path(definition.tib_term, definition), class: "edit" %></td>-->
<!--</tr>-->

<% } %>