table.glossary_terms, table.glossary_terms_add, table.glossary_list {
  border-collapse: collapse;

  table-layout: auto;
  width:100%;
  margin: 0.75em auto;

  tr{
    vertical-align:top;
    td{
      padding:.3em 0;
      vertical-align:top;
    }
    td:nth-child(1){
      width:25%;
      min-width:10em;
    }
    td:nth-child(2){
      padding-left:.5em;
    }
    td.wyl{
      width:25%;
      min-width:10em;
    }
    td.entry{
      width:65%;
//      min-width:10em;
    }
    td.button{
      width:10%;
      min-width:7em;
      padding-left:.5em;
      padding-right:.5em;
    }
  }

}
form#definition_add{
  padding:.25em .5em;
  border:2px solid lightseagreen;
  border-radius:5px;
  margin-top:1em;
}
table.glossary_terms_add{
  margin: 0;
  tr.add{

    td{
      border:none;
    }
    input{
      margin:0;
    }
  }
}

.glossary_edit form{
  padding:.25em .5em;
  border:2px solid lightseagreen;
  background-color:lighten(lightseagreen, 50%);
  border-radius:5px;
  table{
    margin:0;
    padding:0;
    tbody{

    }
    tr{
      padding:0;
      td{
        border:0;
        padding:0;
        input{
          margin-bottom:0;
        }
        textarea{
          margin-bottom:0;
        }
      }
    }
  }

}