table.glossary_terms, table.glossary_list {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: auto;

  tr{
    vertical-align:top;
    td{
      padding:.3em 0;
      vertical-align:top;
    }
    td:nth-child(1){
      width:25%;
      min-width:10em;
    }
    td:nth-child(2){
      padding-left:.5em;
    }
  }
}