@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

html {
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  margin:0;
  padding:0;
  height:100%;

}
body{
  margin:0;
  padding:0;
  height:100%;
}

#body_container{
  min-height:100%;
  position:relative;

}

header {
  padding: 1em .5em;
  margin: 0;
  @include linear-gradient(#E6AF63, darken(#E6AF63, 10%));
}

nav {
  background-color: #3d4a57;
  overflow: hidden

}
nav ul{

  padding:0;
  margin:0;
}
nav ul li{
  float:left;
  list-style:none;
  padding:0;
  margin:0;
}
nav ul li+li{
  margin-left:2px;
}
nav ul li a{
  display:block;
  padding: .5em .7em;
  background-color: rgba(255,255,255,.1);
  color: #c5c9cd;
  text-decoration:none;
}

nav ul li a:hover{
  background-color: rgba(255,255,255,.25);
  color: #c5c9cd;
}

nav ul li a.selected, nav ul li a.selected:hover{
  background-color: rgba(255,255,255,.4);
  color:#3d4a57;
}

section.main{
  height:auto;
  padding:0 .5em;
}




#header_container, section.main > *, #footer_container, nav ul{
  @include outer-container;
}

section.main .content_container{
  padding-top:1em;
  padding-bottom:5em;
}


footer {
  padding:2em .5em;
  background-color: #3d4a57;
  color: #c5c9cd;
  height:5em;
  position:absolute;
  bottom:0;
  width:100%;
}
#footer_container{
  text-align:center;
  font-size:.7em;
  text-transform:uppercase;

}

.controls{
  float:right;
}

.controls a {
  @include button;
}

.definitions{

  @include media ($large-screen) {
    @include span-columns(6);
  }


  dd{
    border:1px solid lightgrey;
    border-radius:5px;
    padding:.5em 1em 0 .5em;
  }
}
.new_definition{
  @include media ($large-screen) {
    @include span-columns(6);
  }
  border:1px solid #E6AF63;
  padding:1em;
  border-radius:5px;
  background-color:rgba(230,174,101,.2)
}

.errors{
  @extend %flash-error;
}