@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

html {
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  margin:0;
  padding:0;
  height:100%;

}
body{
  margin:0;
  padding:0;
  height:100%;
}

#body_container{
  min-height:100%;
  position:relative;

}

header {

  margin: 0;
  @include linear-gradient(#E6AF63, darken(#E6AF63, 10%));
}

section.main{
  height:auto;
  padding:0 .5em;
}


#header_container, section.main > *, #footer_container, nav > *{
  @include outer-container;
}

#header_container{
  padding: 1em .5em;
}

section.main .content_container{
  padding-top:1em;
  padding-bottom:6em;
}


footer {
  padding:2em .5em;
  background-color: #3d4a57;
  color: #c5c9cd;
  height:5em;
  position:absolute;
  bottom:0;
  width:100%;
}
#footer_container{
  text-align:center;
  font-size:.7em;
  text-transform:uppercase;

}

.controls{
  float:right;
}

.controls a {
  @include button;
}

.definitions{

  @include media ($large-screen) {
    @include span-columns(8);
  }

  dd{
    border:1px solid lightgrey;
    border-radius:2px;
    padding:.2em;

    p{
      padding:0;
      margin:0;
    }
  }
}
.add_definition{
  @include media ($large-screen) {
    @include span-columns(4);
  }
  border:1px solid steelblue;
  padding:1em;
  border-radius:5px;
  background-color:lightsteelblue;
  textarea{
    height:8em;
  }
}

.authentication_form{
  border:1px solid steelblue;
  padding:1em;
  border-radius:5px;
  background-color:lightsteelblue;
  @include media ($large-screen) {
    @include span-columns(6);
    @include shift(3)
  }
}

.errors{
  @extend %flash-error;
}
.success{
  @extend %flash-success;
}

.field_with_errors textarea,
.field_with_errors input{
//  border-color:$error-color
  border:1px solid darken($error-color, 50%);
  background-color:$error-color;
}