@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

html {
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  margin:0;
  padding:0;
  height:100%;
}
body{
  margin:0;
  padding:0;
  height:100%;
}

#body_container{
  min-height:100%;
  position:relative;
}

header {
  padding: 1em 0;
  margin: 0;
  background-color:#EBC51C;
}

nav {

}

section#body{
  height:auto;

}

footer {
  padding:2em;
  background-color: #3d4a57;
  color: #c5c9cd;
  height:5em;
  position:absolute;
  bottom:0;
  width:100%;
}


#header_container, #main_container, #footer_container{
  max-width: 80em;
  margin:0 auto;
}

#main_container{
  padding-bottom:5em;
}

#footer_container{
  text-align:center;
  font-size:.7em;
  text-transform:uppercase;

}