nav.main {
  background-color: #3d4a57;
  overflow: hidden;
  ul {
    float: left;
  }
}

nav.main ul li {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.main ul li + li {
  margin-left: 2px;
}

nav.main ul li a {
  display: block;
  padding: .5em .7em;
  background-color: rgba(255, 255, 255, .1);
  color: #c5c9cd;
  text-decoration: none;
  font-weight:600;
}

nav.main ul li a:hover {
  background-color: rgba(255, 255, 255, .25);
  color: #c5c9cd;
}

nav.main ul li a.selected, nav.main ul li a.selected:hover {
  background-color: rgba(255, 255, 255, .6);
  color: #3d4a57;
}

nav.authentication {
  padding: .7em 0;
  .logo {
    margin-left:.5em;
    h1 {
      float: left;
      font-size: 1.5em;
      font-weight:900;
      text-shadow: 1px 1px 0px rgba(255,255,255, 0.5);
      span{
        margin-right:.2em;
        margin-top:.05em;
        display:block;
        float:left;
        background-color:rgba(0, 0, 0, .8);;
        border-radius: 50%;
        width: 1.3em;
        height: 1.3em;
        color:#ffffff;

        i{
          display:block;
          padding:0 0 0 .35em;
          margin-top:-.1em;
          font-size:.8em;
          font-style:normal;
        }
      }
    }
  }
  background-color: rgba(0, 0, 0, .1);
  ul {
    float: right;
    padding: .2em;
  }
  ul li + li {
    margin-right: 2px;
  }
  ul li {

    &.message {
      padding: .1em .3em;
    }

    a {
      background-color: rgba(0, 0, 0, .3);
      color: #c5c9cd;
      padding: .1em .4em;
      border-radius: 3px;
    }

    a:hover {
      background-color: rgba(0, 0, 0, .4);
      color: #c5c9cd;
    }

    a.selected, a.selected:hover {
      background-color: rgba(255, 255, 255, .4);
      color: #3d4a57;
    }
    a.user{
      margin:0;
      padding:0;
      background: none;
      margin-right:1em;
      color:rgba(0, 0, 0, .4);
    }
    a.user:hover{
      color:rgba(0, 0, 0, .5);
    }
  }
}

//LATER DESIGNS

.authorization {
  position: absolute;
  top: 0;
  right: 0;
}

.authorization a {
  @include button(#CF6132);
}

.authorization a.signup {
  @include button(#910A0A);
  margin-left: 1em;
}

nav .links{
}
