
.terms {
  @include media($large-screen) {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}

h4.search_results, h4.exact_match{
  margin-top:1em;
}

.definitions{

  @include media ($large-screen) {
    @include span-columns(8);
  }

  dt{
    display:block;
    margin:0;
    margin-top:1em;
    font-weight:900;
    font-size:.9em;
    border:1px solid rgba(0,0,0,.05);
    border-radius:2px;
    padding:0 .4em;
    margin-bottom:.4em;
    box-shadow: 3px 3px 0px #dedede;
    background-color:steelblue;
    color:white;
    a{
      color: white;
    }
  }
  dd, .dd{
    border:1px solid rgba(0,0,0,.05);
    border-radius:2px;
    padding:.2em .3em;
    margin-bottom:.4em;
    box-shadow: 3px 3px 0px #dedede;

    p{
      padding:0;
      margin:0;
    }
  }
  .dd{
    padding:1em;
    font-size:.8em;
    p{
      margin-top:.3em;
    }
  }
}

.add_definition{
  @include media ($large-screen) {
    @include span-columns(4);
  }
  border:1px solid steelblue;
  padding:1em;
  border-radius:5px;
  background-color:lightsteelblue;
  textarea{
    height:8em;
  }
  select{
    height:1.5em;
    width:100%;
  }
  h4{
    margin-bottom:.5em;
  }
}


.pagination{
  margin-top:1em;
}

.pagination {
  overflow: hidden;

  a, em, span {
    display: block;
    float: left;
    padding: .2em .4em;
    text-decoration: none;
    color: black;
    margin: 0;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  .current {
    background-color: #49AEC0;
    color: #ffffff;
  }
  .disabled, .gap {
    color: darkgray;
  }
  a:hover {
    background-color: rgba(0, 0, 0, .2);
  }
  .next_page {
    border-right: 1px solid black;
  }

}