<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="<%= name.to_s == 'notice' ? 'success' : 'errors' %>">
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
